

<div class="card user-card text-center" style="width: 24rem;">
  <img [src]="fakeUserImageUrl 
    ? fakeUserImageUrl 
    : 'https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png'" 
    class="card-img-top user-image" 
    alt="user avatar"
  />
  
  <div class="card-body">
    <h5 class="card-title">{{ username }}</h5>
    <table class="card-content">
      <tr>
        <td class="row-type">Account No: </td>
        <td>{{ accountNo || 'XXXXXXXX12345' }}</td>
      </tr>
      <tr>
        <td class="row-type">Email: </td>
        <td>{{ email || 'user@email.com' }}</td>
      </tr>
      <tr>
        <td class="row-type">Address: </td>
        <td>{{ address || "169 New York St." }}</td>
      </tr>
      <tr>
        <td class="row-type">Account Balance: </td>
        <td>{{ accountBalance || 100000000 }}</td>
      </tr>
    </table>
  </div>
</div>