
  <h4>Enter details to fetch you account's e-statement</h4>

  <form class="user-form" [formGroup]="statementForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="radio-btn-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="formType" id="inlineRadio1" value="month"
          formControlName="formType">
        <label class="form-check-label" for="inlineRadio1">By Month</label>
      </div>
    
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="formType" id="inlineRadio2" value="year"
          formControlName="formType">
        <label class="form-check-label" for="inlineRadio2">By Year</label>
      </div>
    
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="formType" id="inlineRadio3" value="custom"
          formControlName="formType">
        <label class="form-check-label" for="inlineRadio3">Custom</label>
      </div>
    </div>
    <!-- by-month -->
    <div *ngIf="formType?.value === 'month'" class="row row-cols-sm-auto inputs-class">
      <!-- select year -->
      <div class="col-12">
        <label>Year</label>
        <div class="input-group">
          <select class="form-select" aria-label=".form-select-lg" name="selectedYear" (change)="changeYear($event)"
            formControlName="selectedYear">
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>

        <div class="validation-error" *ngIf="!selectedYear?.valid && (selectedYear?.dirty || selectedYear?.touched)">
          Year is Required
        </div>
      </div>

      <!-- select month -->
      <div class="col-12">
        <label>Month</label>
        <div class="input-group">
          <select class="form-select" aria-label=".form-select-lg" name="selectedMonth" (change)="changeMonth($event)"
            formControlName="selectedMonth">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>

        <div class="validation-error" *ngIf="!selectedMonth?.valid && (selectedMonth?.dirty || selectedMonth?.touched)">
          Month is Required
        </div>
      </div>
    </div>

    <!-- by-year -->
    <div *ngIf="formType?.value === 'year'" class="row row-cols-sm-auto inputs-class">
      <!-- select year -->
      <div class="col-12">
        <label>Year</label>
        <div class="input-group">
          <select class="form-select" aria-label=".form-select-lg" (change)="changeYear($event)"
            formControlName="selectedYear">
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>

        <div class="validation-error" *ngIf="!selectedYear?.valid && (selectedYear?.dirty || selectedYear?.touched)">
          Year is Required
        </div>
      </div>
    </div>

    <!-- custom -->
    <div *ngIf="formType?.value === 'custom'" class="row row-cols-sm-auto inputs-class">
      <!-- from date -->
      <div class="col-12">
        <label>From</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" 
            formControlName="fromDate" ngbDatepicker
            #fromDatePicker="ngbDatepicker" 
            [minDate]="{year: 2020, month: 1, day: 1}"
            [maxDate]="today">
          <button class="btn btn-outline-secondary calendar" (click)="fromDatePicker.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>

        <div *ngIf="!fromDate?.valid && (fromDate?.dirty || fromDate?.touched)">
          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'required'">
            From Date is Required
          </div>

          <!-- [hidden]="!fromDate?.errors?.['required']" -->
          <!-- [hidden]="!fromDate?.errors?.['invalidDate']" -->

          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'invalidDate'">
            From Date is Invalid
          </div>
        </div>
      </div>

      <!-- to date -->
      <div class="col-12">
        <label>To</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" 
            formControlName="toDate" ngbDatepicker
            #toDatePicker="ngbDatepicker"
            [minDate]="fromDate?.value"
            [maxDate]="today">
          <button class="btn btn-outline-secondary calendar" (click)="toDatePicker.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>

        <div *ngIf="!toDate?.valid && (toDate?.dirty || toDate?.touched)">
          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'required'">
            To Date is Required
          </div>

          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'invalidDate'">
            To Date is Invalid
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="form-submit btn submit-btn" 
      [disabled]="!statementForm.valid">
      Submit
    </button>
  </form>

  <hr />
  <!-- <pre>Model: {{ model | json }}</pre> -->
  <!--     -->