.user-form {
  border: 1px solid black; 
}

.form-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.validation-error{
  color: red;
  font-size: 12px;
  font-style: italic;
}

.radio-btn-group {
  border: 1px solid black;
}

.radio-btn-group div {
  margin-top: 10px;
  margin-right: 30px;
}