
.form-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

.validation-error{
  color: red;
  font-size: 12px;
  font-style: italic;
}

.radio-btn-group div, .inputs-class {
  margin-top: 10px;
  margin-right: 30px;
}

.submit-btn {
  background-color: #2691d9;
  color: white;
  position: relative;
  top: 10px;
}