.logo {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.nav-container {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.nav-container-center{
  width: 70vw;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-list ul li a {
  color: #283776;
}

#signup a {
  background-color: #3498DB;
  color: white;
  border-radius: 20px;
  width: 100px;
  text-align: center;
}