<nav class="nav-container navbar navbar-expand-lg navbar-light">
  <div class="container-fluid nav-container-center">
    <img class="logo"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/5/58/State_Bank_of_India_logo.svg/1280px-State_Bank_of_India_logo.svg.png"
      alt="SBI">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-list" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mobile Banking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Corporate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQs</a>
        </li>
        <li class="nav-item" id="signup">
          <a class="nav-link" href="#">{{ btnText }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
