<h5>Enter details to fetch you account's e-statement</h5>

<div class="form-check form-check-inline">

  <form class="user-form" [formGroup]="statementForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="formType" id="inlineRadio1" value="month"
        formControlName="formType">
      <label class="form-check-label" for="inlineRadio1">By Month</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="formType" id="inlineRadio2" value="year"
        formControlName="formType">
      <label class="form-check-label" for="inlineRadio2">By Year</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="formType" id="inlineRadio3" value="custom"
        formControlName="formType">
      <label class="form-check-label" for="inlineRadio3">Custom</label>
    </div>

    <div *ngIf="formType?.value === 'month'" class="row row-cols-sm-auto">
      <div class="col-12">
        <label>Year</label>
        <div class="input-group">
          <select class="form-select" aria-label=".form-select-lg">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      
      <div class="col-12">
        <label>Month</label>
        <div class="input-group">
          <select class="form-select" aria-label=".form-select-lg">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>

    <div *ngIf="formType?.value === 'year'" class="row row-cols-sm-auto">
      <div class="col-12">
        <label>Year</label>
        <div class="input-group">
          <select class="form-select" aria-label=".form-select-lg">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>

    <div *ngIf="formType?.value === 'custom'" class="row row-cols-sm-auto">
      <div class="col-12">
        <label>From</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="fromDate" ngbDatepicker
            #fromDatePicker="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="fromDatePicker.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>

        <div *ngIf="!fromDate?.valid && (fromDate?.dirty ||fromDate?.touched)">
          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'required'">
            From Date is Required
          </div>

          <!-- [hidden]="!fromDate?.errors?.['required']" -->
          <!-- [hidden]="!fromDate?.errors?.['invalidDate']" -->

          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'invalidDate'">
            From Date is Invalid
          </div>
        </div>
      </div>

      <div class="col-12">
        <label>To</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="toDate" ngbDatepicker
            #toDatePicker="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="toDatePicker.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>

        <div *ngIf="!toDate?.valid && (toDate?.dirty ||toDate?.touched)">
          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'required'">
            To Date is Required
          </div>

          <div class="validation-error" *ngIf="(fromDate?.errors | firstErrorKey) === 'invalidDate'">
            To Date is Invalid
          </div>
        </div>
      </div>
    </div>

    <!-- <button type="submit" class="form-submit btn btn-primary" [disabled]="!statementForm.valid">Submit</button> -->
    <button  type="submit" class="form-submit btn btn-primary" >Submit</button>
  </form>

  <hr />
  <!-- <pre>Model: {{ model | json }}</pre> -->
  <!--  -->