.statement-container {
  display: flex;
  padding: 40px 0;
  justify-content: space-around;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.left-container {
  width: 30%;
}

.right-container {
  width: 70%;
}

.carousal-footer {
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1900px) {
  .left-container {
      width: 40%;
    }
  
    .right-container {
      width: 60%;
    }
}

@media (max-width: 1400px) {


    .left-container {
      width: 50%;
    }
  
    .right-container {
      width: 50%;
    }
}

@media (max-width: 1400px) {

  .statement-container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .right-container {
    width: 100%;
  }
}